.dashboard__govern-file {
  margin-block: 40px;
}

.dashboard__govern-file .section-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.58px;
  color: var(--dark);
  margin: 0;
}

.dashboard__govern-file .section-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-dark);
}

.dashboard__govern-file .section-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.58px;
  color: var(--gray);
}

.dashboard__govern-file h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35.28px;
  color: var(--dark);
}

.dashboard__govern-file > div {
  margin-block: 1rem;
}

.dashboard__govern-file .btn-group {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .dashboard__govern-file .data-table td {
    min-width: 220px;
  }
}
